#battle-area {
  background-color: teal;
  height: 100vh;
  width: 100%;
}

.battle-area-character {
  position: absolute;
}

.battle-area-pc-0 {
  left: 100px;
  top: 70px;
}


.battle-area-pc-1 {
  top: 170px;
  left: 100px;
}

.battle-area-pc-2 {
  top: 270px;
  left: 100px;
}

.battle-area-pc-3 {
  top: 120px;
  left: 20px;
}

.battle-area-pc-4 {
  top: 220px;
  left: 20px;
}

.battle-area-enemy {
  position: absolute;
}

.battle-area-enemy-0 {
  top: 70px;
  left: 200px;
}

.battle-area-enemy-1 {
  top: 170px;
  left: 200px;
}

.battle-area-enemy-2 {
  top: 270px;
  left: 200px;
}

.battle-area-enemy-3 {
  top: 120px;
  left: 280px;
}

.battle-area-enemy-4 {
  top: 220px;
  left: 280px;
}

.battle-area-active-indicator {
  position: absolute;
  z-index: 100;
  left: 0px;
  top: 0px;
}
