.shop-cost {
  float: right;
  position: relative;
  padding-right: 10px;
}

.shop-row {
  padding: 5px 0;
}

.right {
  float: right;
}

.upgrades-top {
  display: flex;
  justify-content: center;
}
